services:
  postgres:
  # ------------------- PostgreSQL -------------------
    image: postgres:latest
    
    container_name: postgres
    
    ports:
      - "5432:5432"
    
    volumes:
      - postgresdata:/var/lib/postgresql
    
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    
    networks:
      - backend
    
    restart: always

networks:
  backend:

volumes:
  postgresdata: 